* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#checkbox {
    display: none;
}
.menu-btt {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 30px;
    z-index: 1;
}
.material-icons {
    font-size: 1.5rem;
}
#checkbox:checked ~ section{
    left: 0;
}
#checkbox:checked ~ .menu-btt {
    z-index: 0;
}
.menu-btt:focus {
    font-size: 50px;
}
section {
    background-color: #34495e;
    color: #fff;
    width: 200px;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease;
}
.bookmark-lists {
    padding-left: 45px;
}
.bookmark {
    margin: 30px 0;
}
.bookmark:nth-child(1) {
    margin-top: 50px;
}
.bookmark a {
    color: #fff;
    text-decoration: none;
}