body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#checkbox {
    display: none;
}
.menu-btt {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 30px;
}
.material-icons {
    font-size: 1.5rem;
}
#checkbox:checked ~ .menu-btt{
    color: red;
}
section {
    background-color: #34495e;
    color: #fff;
    padding-top: 30px;
    padding-left: 30px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.bookmark-lists {
}
.bookmark {
    margin: 20px 0;
}
.bookmark:nth-child(1) {
    margin-top: 50px;
}
.bookmark a {
    color: #fff;
    text-decoration: none;
}